.container {
    width: 400px;
    height: 500px;
    background: linear-gradient(
        60deg,
        rgba(84, 58, 183, 1) 0%,
        rgba(0, 172, 193, 1) 100%
      );
    padding: 20px;
    border-radius: 10px;
}

.inner-container {
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
}

.shoe-img {
    width: 350px;
}

p {
    color: white;
}