@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
letter-spacing: 2px;
font-size: 48px;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}
