$primary-text-color: rgb(70, 70, 70);
$primary-background-color: #788e9d57;

$secondary-background-color: linear-gradient(
    70deg,
    rgba(20, 30, 50) 0%,
    rgba(80, 90, 110) 100%
);

$tertiary-background-color: linear-gradient(
    70deg,
    rgb(255, 0, 0)0%,
    rgb(255, 17, 17)100%
);

$turqoise-background-color: linear-gradient(
    70deg,
    rgb(70, 255, 252) 0%,
    rgb(0, 255, 251) 100% 
);

$color-cream: #FFFEEF;

$grey-primary: rgb(225, 225, 225);
