
.header {
    background: rgb(21, 21, 21);

    .common-outer-header {
        height: 50vh;
        display: flex;
        justify-content: center;

            .section-and-pic {
                // width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
        }
    }
}
