@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import '../../../variables.scss';
.header {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;

  .outer-header {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;

    .inner-header {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      .middle-header {
        display: flex;
        flex-direction: column;
        gap: 70px;
      }
  
  
  
      @keyframes move-up-down {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-15px);
          }
          100% {
            transform: translateY(0);
          }
        }
        
        div {
          &.shoe-left {
            animation: move-up-down 5s infinite ease-in-out;
            margin: 105px 100px;
          }
          &.shoe-right {
            animation: move-up-down 5s infinite 0.5s alternate ease-in-out;
            margin: 255px 100px;
          }
        }
  
        .shoe-left img,
        .shoe-right img {
          transition: transform 0.7s ease-in-out;
          cursor: pointer;
        }
        
        .shoe-left img:hover,
        .shoe-right img:hover {
          transform: scale(1.03);
        }
    }

    .middle-content {
      position: absolute;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 20px;
      margin-top: 150px;

      .middle-content-text {
        
        h3{
          font-size: 34px;
          color: rgb(223, 223, 223);
        }

        p {
          font-size: 14px;
          color: rgb(203, 203, 203);
        }
      }


      .shopnow-contact {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        margin-top: 90px;
    
        .primary-btn button {
          padding: 0px 40px;
          height: 55px;
          border-radius: 55px;
          background-color: rgba(0, 0, 0, 0.2);
          border: 3px solid white;
          font-size: 17px;
          color: white; 
          font-weight: 700;

          &:hover {
            background-color: white;
            color: black;
          }
        }
        .secondary-btn button {
          color: white;
          background-color: red;
          border: 3px solid red;
          
          &:hover {
            background-color: rgb(255, 0, 0, 0.7);
            color: white;
          }
        }
      }
    }


  }





  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /* Fix for safari gap */
    min-height: 100px;
    max-height: 150px;
    z-index: 1;
  }

  .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
  }

  /* Animation */
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }

  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }

  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }

  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }

  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  /* Shrinking for mobile */
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
    h3 {
      font-size: 24px;
    }
  }
}