@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import '../../../variables.scss';
.header {
  text-align: center;
  color: white;
  overflow: hidden;
  background-color: rgb(13, 31, 34);

  .contact-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    color: black;

    .inner-contact-box {
      width: 40%;
      border-radius: 20px;
      background-color: #fff;
      padding: 30px;

      .close-area {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: right;

        button {
          cursor: pointer;

          :hover.close-icon {
            color: red;
          }
        }
      }

      h3 {
        font-size: 20px;
        margin-bottom: 30px;
      }

      .contact-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          margin-left: 10%;

          input, textarea {
            margin-left: 10px;
            width: 250px;
            text-align: left;
            padding: 5px 10px;
            font-size: 14px;
          }

          textarea {
            width: 300px;
          }
        }

        .send-btn {
          margin: 40px;
        }
      }
    }
  }

  .outer-header {
    height: 80vh;
    display: flex;
    flex-direction: column;

    .inner-header {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @keyframes move-up-down {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-15px);
          }
          100% {
            transform: translateY(0);
          }
        }
        
        div {
          &.shoe-left {
            animation: move-up-down 5s infinite ease-in-out;
            margin: 100px 50px;
            height: 50px;
          }
          &.shoe-right {
            animation: move-up-down 5s infinite 0.5s alternate ease-in-out;
            margin: 250px 50px;
            height: 50px;
          }
        }
  
        .shoe-left img,
        .shoe-right img {
          transition: transform 0.7s ease-in-out;
          cursor: pointer;
        }
        
        .shoe-left img:hover,
        .shoe-right img:hover {
          transform: scale(1.04);
        }
    }

    .middle-content {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 50px;
      margin-top: 200px;

      .middle-content-text {
        
        h3{
          font-size: 34px;
          margin: 5px;
          color: rgb(223, 223, 223);
        }

        p {
          margin-top: 20px;
          font-size: 14px;
          color: rgb(203, 203, 203);
        }
      }

      .shopnow-contact {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        margin-top: 90px;

        div {
          .shop-now-link {
            all: unset;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .header {
    .contact-box {
    
      .inner-contact-box {
        width: 46%;
  
        .contact-inputs {
          margin-left: 0;
          align-items: center;
  
          span {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 0;
            gap: 5px;

            input, textarea {
              margin-left: 0px;
              width: 230px;
            }
          }
        }
      }
    }
  
    .outer-header {
      height: 85vh;
  
      .inner-header {

          div {
            margin: 0px 40px;

            &.shoe-left {
              margin: 300px 0px;
            }
            &.shoe-right {
              margin: 340px 0px;
            }
          }
      }
  
      .middle-content {
        margin-top: 150px;
        gap: 160px;
  
        .middle-content-text {
          padding: 0px 50px;
          
          h3{
            font-size: 26px;
            color: rgb(223, 223, 223);
          }
  
          p {
            font-size: 12px;
            color: rgb(203, 203, 203);
          }
        }
  
        .shopnow-contact {
          column-gap: 30px;
      
          .primary-btn button {
            padding: 0px 30px;
            height: 40px;
            font-size: 12px;
          }
        }
      }
    }
  }
}