@import '../../../variables.scss';

.navbar {
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  .navbar-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-middle {
      position: absolute;
      width: 90%;
      justify-self: center;
      z-index: 1;

      .navbar-logo {
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        letter-spacing: 5px;
      }
    }
  
    .nav-menu {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-item {
        display: inline-block;
        margin: 0 10px;
        font-weight: 400;
        z-index: 2;


        .nav-search {
          background-color: rgba(255, 255, 255, 0.2);
          padding: 8px 20px;
          border-radius: 20px;
          font-size: 14px;

          input {
            all: unset;
            width: 180px;
            text-align: start;
            margin-left: 15px;
  
            &::placeholder {
              color: rgb(0, 0, 0, 0.3);
            }
          }
        }

        .nav-link {
          text-decoration: none;
          color: white;

          &:hover {
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }

      .cart-nav-item {
        display: flex;
        justify-content: center;
        cursor: pointer;
          
      }
    }
  }
}