@import '../../../variables.scss';

.navbar {
  background-color: transparent;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  .navbar-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-segment {
      margin: 0;

      .dropdown-button {
        display: none;
        cursor: pointer;
      }

      .hidden-nav-items {
        z-index: 2;
        width: 120px;
        position: absolute;
        margin-top: 10px;
        background-color: rgb(240, 240, 240);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

          .drop-nav-link {
            text-align: left;
            text-decoration: none;
            width: 100%;
            color: rgb(80, 80, 80);
            padding: 10px 15px;
            font-size: 14px;

            &:hover {
              background-color: rgb(224, 224, 224);

              &.drop-nav-link {
                color: rgb(37, 37, 37);
                font-weight: 500;
                }
            }
          }     
      }
    }

    .nav-middle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      .navbar-logo {

        img {
          width: 100px;
        } 
      }
    }
    
    .nav-segment {

      .nav-menu {
        all: unset;
        list-style: none;
        display: flex;
        align-items: center;
  
        .nav-item {
          display: inline-block;
          margin: 0 10px;
          font-weight: 400;
          z-index: 2;
  
          .nav-link {
            text-decoration: none;
            color: white;
  
            &:hover {
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }
  
        .vertical-line {
          height: 20px;
          width: 2px;
          background-color: #fff;
          margin: 0px 10px;
        }
  
        .cart-nav-item {
          display: flex;
          justify-content: center;
          cursor: pointer;
            
        }
      }
    }

  }
}

@media (max-width: 960px) {
  .navbar {

    .navbar-container {
      padding: 0px 20px;

      .left-segment {

        .dropdown-button{
          display: block;
        }

        .hidden-nav-items {
    
          .drop-nav-menu {
    
            .drop-nav-item {

              .nav-link {
                padding: 10px;
                text-decoration: none;
                color: rgb(31, 31, 31);
        
                &:hover {
                  background-color: rgb(211, 211, 211);
                }
              }
            }
          }
        }

        .nav-menu {
          display: none;
        }
      }

      .right-segment {

        .nav-menu {

          .vertical-line {
            display: none;
          }
  
          .user-account {
            display: none;
          }
        }
      }
    }
  }
}