@import '../../../variables';

.intro-whole{
    display: flex;
    flex-direction: column;

    .intro-container {
        height: 90vh;
        background-color: $grey-primary;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-holder {
            width: 90%;
            text-align: center;
        }
    }

    .sale-container {
        background: rgb(13, 31, 34);  
    }
}