@import '../../../variables';

.intro-whole{
    display: flex;
    flex-direction: column;

    .intro-container {
        height: 1000px;
        width: 100%;
        background-color: $grey-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #191919;

        h1 {
            color: blue;
        }

        .text-holder {
            width: 90%;
            text-align: center;

            .title {
                margin-bottom: 100px;
                margin-left: 200px;
            
                h1{
                    text-align: start;
                    font-size: 40px;
                    font-weight: 800;
                }
            }
        }
    }

    .sale-container {
        background: rgb(21, 21, 21);
        

        h1 {
            color: red;
        }

        p {
            color: rgb(202, 202, 202);
        }
    }
}

.text {
    font-size: 20px;
}

.card-holder {
    display: flex;
    justify-content: center;
    gap: 70px;
}