@import url(//fonts.googleapis.com/css?family=Lato:300:400);
.header {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;

  .waves-upside-down {
    transform: rotate(180deg);
  }

  .credits-outer-header {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .credits-container {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin-top: 100px;

        div {
            width: 250px;
            height: 450px;

            h3 {
                font-size: 20px;
                text-align: center;
            }

            ul {
              list-style: none;
              padding: 0;

              li {
                cursor: pointer;
                margin-bottom: 8px;
                font-size: 16px;
                font-weight: 500;

                &:hover {
                  opacity: 0.7;
                }
              } 
            }
        }
    }
  }

  .contact-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 40px;

    textarea {
      all: unset;
      padding: 12px;
      height: 70px;
      width: 300px;
      text-align: start;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 20px; 
    }

    button {
      cursor: pointer;
      padding: 0px 35px;
      height: 45px;
      border-radius: 55px;
      font-weight: 600;
      color: white;
      background-color: red;
      
      &:hover {
        background-color: rgb(160, 0, 0);
        border-color: rgb(160, 0, 0);
        color: white;
      }
    }
  }

  .my-credits {
    height: 70px;
    display: flex;
    margin: 0 70px;
    justify-content: space-between;
    align-items: center;

    .socials {
      display: flex;
      align-items: center;
    }

    div {

      h4 {
        font-weight: 300;
        font-family: cursive;
      }
    }

    ul {
      all: unset;
      display: flex;
      gap: 25px;

      li {
        list-style: none;

        a {
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .header {
  
    .credits-outer-header {
      margin-bottom: 50px;
  
      .credits-container {
  
          div {
  
              h3 {
                  font-size: 14px;
              }
  
              ul {
  
                li {
                  font-size: 13px;
                  font-weight: 400;
                } 
              }
          }
      }
    }

    .contact-box {
      font-size: 13px;
      margin-bottom: 50px;
    }
  
    .my-credits {
      margin: 0 20px;
  
      div {
  
        h4 {
          font-size: 12px;
        }
      }
  
      ul {
        gap: 20px;
      }
    }
  }
}