@import '../../../variables.scss';

.whole-shoes-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $grey-primary;

    .shoes-filter {
        display: flex;
        gap: 40px;
        margin: 40px 150px;

        div {
            display: flex;
            align-items: center;

            p {
                margin-right: 8px;
            }
        }
    }

    .shoes-wrapper {
        display: flex;
        flex-wrap: wrap;
    
        &>div {
            width: 300px;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }
    }
}
