@import '../../../variables.scss';

.whole-shoes-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $grey-primary;

    .shoes-wrapper {
        display: flex;
        flex-wrap: wrap;
    
        &>div {
            width: 300px;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }
    }
}
