@import '../../../variables.scss';

.whole-shoes-wrapper {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    background-color: $color-cream;


    .shoes-filter {
        display: flex;
        gap: 40px;
        margin-bottom: 100px;
        margin-left: 100px;

        div {
            padding: 10px 50px;
            border: 2px solid rgba(0, 0, 0, 0.4);
            border-radius: 30px;
        }
    }

    .shoes-wrapper {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    
        &>div {
            width: 300px;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }
    }
}
