@import '../../../variables.scss';
$animation-duration: 0.3s;

@keyframes buttonClickAnimation {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

.whole-shoe-container {
    margin: 15px 0;

    .shoe-and-button {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: rgb(96, 96, 96);
            margin: 3px 0px;
        }

        .shoe-container {
            border-radius: 5px;
            overflow: hidden;
            width: 220px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 15px;
            box-shadow: 3px 3px 5px 2px rgb(180, 180, 180);
            transition: 0.3s ease-in-out;
        
            &:hover{
                cursor: pointer;
                transform: scale(1.05);
            }
            

            .add-to-wishlist {
                width: 30px;
                height: 30px;
                background-color: rgba(255, 255, 255, 0.6);
                position: absolute;
                display: flex;
                align-items: center;
                align-self: flex-end;
                justify-content: center;
                border-radius: 50%;
                color: rgba(0, 0, 0, 0.5);
                z-index: 1;
                margin: 8px;

                &:hover {
                    color: rgb(255, 0, 0, 0.5);
                }

                &:active {
                    background-size: 200% 100%;
                    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 50%, red 50%);
                    animation: buttonClickAnimation $animation-duration;
                  }
            }

            .inner-container{
                width: 220px;
                display: flex;
                align-items: center;
                justify-content: center;
        
                .img-container {
                    width: 220px;
                    height: 220px;
                    position: relative;
                    overflow: hidden;
                    
                    .shoe-img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            
            .shoe-info{
                width: 90%;
                margin-bottom: 10px;

                .double-prices {
                    display: flex;
                    justify-content: right;
                    align-items: baseline;
                    gap: 5px;
        
                    .original-price {
                        text-decoration: line-through;
                        font-size: 11px;
                        font-weight: 400;
                    }
        
                    .new-arrivals-price{
                        color: red;
                        font-size: 13px;
                        text-align: end;
                        font-weight: 900;
                    }
        
                    .sale-price {
                        color: red;
                    }
                }
        
                .new-arrivals-details{
                    font-size: 12px;
                    font-weight: 500;
                    text-align: left;
                    height: 28px;
                }
        
                .new-arrivals-category{
                    font-size: 11px;
                    font-weight: 700;
                    text-align: left;
                }
        
            }
        }

        .sale-shoe-container {
            box-shadow: 3px 3px 5px 2px rgb(20, 20, 20);

            p {
                color: rgb(174, 174, 174);
            }
        }

            
        .add-to-cart{
            width: 220px;
            height: 40px;
            border: 2px solid red;
            color: red;
            font-size: 13px;
            border-radius: 30px;
            font-weight: 800;
            text-align: center;
            box-shadow: 3px 3px 5px 2px rgb(180, 180, 180);
            transition: 0.3s ease-in-out;

            &:hover{
                background: red;
                color: white;
                cursor: pointer;
                transform: scale(1.05);
            }
        }

        .sale-add-to-cart {
            border-color: red;
            color: red;
            box-shadow: 3px 3px 5px 2px rgb(20, 20, 20);

            &:hover {
                background-color: red;
            }
        }
    }
}